html, body {
  height: 100%;
}

body {
  margin: 0;
  background: #111;
  overflow: hidden;
}

#book {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

