html, body {
  height: 100%;
}

body {
  margin: 0;
  background: #111;
  overflow: hidden;
}

#book {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

html::before{
  content: attr(data-build);
  position: fixed;
  top: 10px; left: 10px;
  background: rgba(0,0,0,.6);
  color: #fff;
  padding: 6px 10px;
  border-radius: 10px;
  font: 12px/1 system-ui;
  z-index: 9999;
}

